----- 
kind: blog
title: Blog
menupriority: 2
noSubMenu: true
-----
<% 
    number_of_articles=5
    number_of_char_for_resume=800
    language=@item_rep.path.sub(/\/Scratch\//,'').sub(/\/.*$/,'') 
    last_articles = @items.select do |a| 
            a.reps[0].path =~ /\/#{language}\//  && a[:kind] == 'article'
    end
    last_articles=last_articles.sort { |x,y| y[:created_at] <=> x[:created_at] }[0..(number_of_articles-1)]

def dArr
    return %{<span class="nicer">&dArr;</span>}
end
%>

<ul>
en: <li> <a href="#last-articles"><%= number_of_articles %> latest articles <%=dArr%></a> </li>
fr: <li> <a href="#last-articles">Les <%= number_of_articles %> derniers articles <%=dArr%></a></li>
en: <li> <a href="#tagcloud">Tag Cloud <%=dArr%></a></li>
fr: <li> <a href="#tagcloud">Nuage de mots clés <%=dArr%></a></li>
<li> <a href="#archives">Achives <%=dArr%></a></li>
en: <li> <a href="#two-words-about-the-content">Two words about the content <%=dArr%></a></li>
fr: <li> <a href="#un-petit-mot-sur-le-contenu">Un petit mot sur le contenu <%=dArr%></a></li>
</ul>

<h2 id="last-articles">
en: Last <%= number_of_articles %> Articles
fr: Les <%= number_of_articles %> derniers articles
</h2>

</div>

<% last_articles.each do |a| %>
<h1> 
    <%= calendar_for( a[:created_at], language ) %> 
    <%= link_to(a[:title]+%{ <span class="nicer">»</span>}, a) %> 
</h1>

<div class="corps">

    <% 
        puts "%%%"
        puts excerptize( a.reps[0].compiled_content, {:length => number_of_char_for_resume}) 
        puts "%%%"
    %>
    <%= repair_html ( excerptize( a.reps[0].compiled_content, {:length => number_of_char_for_resume} ) ) %>

    <div class="flush"></div>
    <div>
            <p>
fr:         <%= link_to(%{en lire plus <span class="nicer">»</span>}, a) %>
en:         <%= link_to(%{Read more <span class="nicer">»</span>}, a) %>
            </p>
    </div>

</div>
<% end %>

<div class="corps">
<div>
<%= tagCloud %>
</div>
</div>

<h2 id="archives">Archives</h2>

<%= generateBlogSubMenu(language) %>

en: <h2 id="two-words-about-the-content"> 
en: Two words about the content
fr: <h2 id="un-petit-mot-sur-le-contenu"> 
fr: Un petit mot sur le contenu
</h2>


<div class="corps">

en: <p>
en: Here you'll can find mostly technical articles.
en: Some are just reminder of technical tips.
en: But some are long and technically detailled articles.
en: </p>
en: <hr/>
en: <p> 
en:  I do my best to traduce each page in french and in english.
en: It not always easy. English is not my natural language.
en: I make many errors, orthographic, grammatical, typographical&hellip;
en: </p>
en: <p>
en: <strong> Thanks not to judge me based on these errors! And don't forget content is more important than presentation! </strong>
en: </p><p> 
en: The first impression I'll let you if we meet in real life should be different from the one I let you based on my website.
en: </p><p> 
en: I wish you to find something useful or interesting on this website.
en: </p>

fr: <p>
fr: Vous trouverez ici des articles qui sont pour la plupart
fr: écrits en anglais et qui sont techniques.
fr: Certain sont justes là pour me souvenir de petits trucs, que
fr: d'autres pourraient trouver utiles. Mais il y a aussi de
fr: long articles techniques qui vont un peu plus dans les détails.
fr: </p><p> 
fr: <hr/>
fr: <p> 
fr:  Je fais de mon mieux pour traduire chaque page en anglais et en français.
fr: Cependant, ce n'est pas toujours évident. 
fr: Il m'arrive de faire de nombreuses fautes d'orthographes, des erreurs typographiques et autres. 
fr: </p> 
fr: <p>
fr: <strong> Merci de ne pas me juger sur ces erreurs et de ne pas oublier que le fond est plus important que la forme. </strong>
fr: </p><p> 
fr: L'impression que ce site laisse de moi n'est certainement pas l'impression que je vous laisserais si on se rencontrait.
fr: </p><p> 
fr: Je vous souhaite de trouver ce que vous cherchez sur ce site.
fr: </p>
