---
en: title: Home
fr: title: Bienvenue
noSubMenu: true
no_entete: true
---
<% content_for :title do %>
<span style="font-weight: normal; font-size: 2.5em; margin-top: 0; line-height: 1ex">
            <span style="letter-spacing:-.20em">Ya</span><span style="display:inline-block; width:.1em;"></span><span style="letter-spacing: -.12em">nn</span> 
            <span style="letter-spacing: -.10em">Esposito</span> 
        </span>
<% end %>
<% content_for :subtitle do %>
    <span style="letter-spacing: 2.7em; color: #111;">Yogsototh</span>
<% end %>

            <div class="flush"></div>
en:             <div class="block left">
en:                 <h3>
en:                     <a href="<%=@config[:webprefix]%>/en/blog/" onclick="setLanguage('en')">
en:                         Blog
en:                         <span class="nicer">»</span>
en:                     </a>
en:                 </h3>
en:                 <p>
en:                 Computer, Philosophy <em>&amp;</em> Life.
en:                 </p>
en:             </div>
en:             <div class="block left">
en:                 <h3>
en:                     <a href="<%=@config[:webprefix]%>/en/softwares" onclick="setLanguage('en')">
en:                         Softwares
en:                         <span class="nicer">»</span>
en:                     </a>
en:                 </h3>
en:                 <p>
en:                 Password Manager,
en:                 Screensavers  <em>&amp;</em>
en:                 Scientific Applications.
en:                 </p>
en:             </div>
en:             <div class="block right">
en:                 <h3>
en:                     <a href="<%=@config[:webprefix]%>/en/about" onclick="setLanguage('en')">About 
en:                         <span class="nicer">»</span>
en:                     </a>
en:                 </h3>
en:                 <p>
en:                 Don't be shy, I'll be happy to talk to <i>you</i>.
en:                 </p>
en:             </h3>
en:         </div>

fr:         <div class="block left">
fr:             <h3>
fr:                 <a href="<%=@config[:webprefix]%>/fr/blog/" onclick="setLanguage('fr')">
fr:                     Blog
fr:                     <span class="nicer">»</span>
fr:                 </a>
fr:             </h3>
fr:             <p>
fr:             Ordinateurs, philosophie <em>&amp;</em> des choses de la vie. 
fr:             </p>
fr:         </div>
fr:         <div class="block left">
fr:             <h3>
fr:                 <a href="<%=@config[:webprefix]%>/fr/softwares" onclick="setLanguage('fr')">
fr:                     Logiciels
fr:                     <span class="nicer">»</span>
fr:                 </a>
fr:             </h3>
fr:             <p>
fr:             Des économiseurs d'écran,
fr:             un gestionnaire de mots de passe <em>&amp;</em>
fr:             des applications scientifiques.
fr:             </p>
fr:         </div>
fr:         <div class="block right">
fr:             <h3>
fr:                 <a href="<%=@config[:webprefix]%>/fr/about" onclick="setLanguage('fr')">
fr:                     À propos
fr:                     <span class="nicer">»</span>
fr:                 </a>
fr:             </h3>
fr:             <p>
fr:             Au diable la timidité, n'hésitez pas à me contacter, je serai ravi de <i>vous</i> parler.
fr:             </p>
fr:         </div>
fr:         <div class="flush"></div>
fr:         <div class="block left">
fr:             <h3>
fr:                 <a href="http://j.mp/btfRJ2">
fr:                     Curriculum Vitæ
fr:                     <span class="nicer">»</span>
fr:                 </a>
fr:             </h3>
fr:             <p>
fr:             Doctorat &rarr; Post Doc &rarr; Consultant<br/>
fr:             <i>Geek &rarr; G33K &rarr; G33|&lt;
fr:             </i>
fr:             </p>
fr:         </h4>
fr:         </div>
fr:         <div class="block left">
fr:             <h3>
fr:                 <a href="http://yann.esposito.free.fr/enseignement/enseignement.php">
fr:                     Enseignement
fr:                     <span class="nicer">»</span>
fr:                 </a>
fr:             </h3>
fr:             <p>
fr:             Informatique:<br/>
fr:             TD, TD <em>&amp;</em> solutions<br/>
fr:             BAC+1 à BAC+5<br/>
fr:             <i><a href="http://yann.esposito.free.fr/enseignement/projetrez0/projetrez0.html">Projet réseau anonyme
fr:                         <span class="nicer">»</span></a>
fr:             </i>
fr:              </p>
fr:         </div>
fr:         <div class="block right">
fr:             <h3>
fr:                 <a href="http://web.me.com/yann.esposito/Perso/Welcome.html">
fr:                     Photos
fr:                     <span class="nicer">»</span>
fr:                 </a>
fr:             </h3>
fr:             <p>
fr:             <a href="mailto:yannesposito@gmail.com?Subject=Permission%20site%20famille" >
fr:             Cliquez ici pour avoir le mot de passe.
fr:                     <span class="nicer">»</span>
fr:             </a>
fr:             </p>
fr:         </div>
        <div class="flush"></div>
